<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /fip/
  RedirectMatch ^/generator$ /generator/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /fip/index.html [L]
</IfModule>
