@import './base.css';

// SCSS Architecture
@import './scss/variables';
@import './scss/mixins';
@import './scss/components';
@import './scss/profile-page';
@import './scss/tv-output-page';

// App Container
#app {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

// Utility Classes
.min-w-250 {
  width: 250px;
}