@import './base.css';
$light: #989898;
$gray: #717171;
$orange: #D2910F;
$green: #4FAD9B;

// COMMON STYLES FOR BOTH PAGES
#app {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;

  display: flex;
  flex-direction: column;
}
select {
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  color: $gray;
  border: 0;
  outline: 0;
  margin-right: 10px;
}
button {
  padding: 11px 20px;
  font-size: 20px;
  border: 0;
  outline: 0;
  color: $gray;
  margin-left: 5px;
  margin-right: 5px;
}
.container {
  max-width: calc(100vw - 5%);
  margin: 0 auto;
}
header {
  background-color: #000;
  .header-content {
    display: flex;
    padding: 10px;
  }
}
main {
  padding-top: 75px;
  padding-bottom: 75px;

  background-image: url(./images/bg-up.jpg), url(./images/bg-down.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: 300px 300px;
  flex: 1;
  max-height: calc(100vh - 65px);

  .main-content {
    height: 100%;
    padding: 48px;
    background-color: #fff;
    border: 10px solid $orange;
    border-radius: 32px;
    border-bottom-left-radius: 0;
  }
  .logo-container {
    padding-top: 40px;
    padding-left: 48px;
  }
}

// STYLES PROFILE PAGE
.main-content {
  display: flex;

  .left-panel {
    max-width: 480px;
    width: 100%;
    border-right: 6px solid $green;
    display: flex;
    max-height: 100%;
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;

    .name-container {
      display: flex;
      align-items: center;
      padding-left: 48px;
      height: 190px;
      font-size: 84px;

      background: url(./images/name-bg.png) no-repeat;
      border-bottom: 6px solid $green;

      * {
        letter-spacing: 5px;
        line-height: 72px;
      }

      .name-last {
        font-weight: bold;
      }
    }
    .details-container {
      padding-left: 48px;
      padding-top: 48px;
      padding-bottom: 48px;
      border-bottom: 6px solid $green;

      > div {
        display: flex;
        align-items: center;
      }

      .meta {
        min-width: 200px;
      }
      .title {
        font-size: 40px;
        font-weight: bold;
      }
      .sub-title {
        font-size: 36px;
        font-style: italic;
        color: $light;
      }

      .age-container {
        display: flex;
        align-items: center;
      }

      .age {
        font-size: 80px;
      }
      .country {
        display: flex;
        align-items: center;
        padding-left: 80px;

        .flag {
          display: flex;
          align-items: center;

          .flag-detials {
            display: flex;
            align-items: center;
            padding-left: 40px;

            img {
              width: 100px;
            }
            span {
              font-size: 30px;
              padding-left: 10px;
            }
          }
        }
      }
      .category {
        flex-basis: 100%;
        padding-top: 48px;
        .meta {
          padding-right: 75px;
        }
        img {
          height: 120px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
}
